@font-face {
  font-family: Futura;
  src: url(fonts/futura/futura.ttf) format("ttf") ;
  font-weight: 400;
}
  
@font-face {
  font-family: Avenir;
  src: url(fonts/avenir/Avenir.woff) format("woff");
  font-weight: normal;
}

@font-face {
  font-family: 'Avenir-Bold';
  src: url(fonts/avenir/Avenir-Medium.woff) format("woff");
  font-weight: bold;
}

@font-face {
  font-family: 'Avenir-Heavy';
  src: url(fonts/avenir/Avenir-Heavy.woff) format("woff");
  font-weight: bolder;
}

