img {
  max-width: 100%;
  max-height: 100%;
}

.home {
  transition: all 300ms ease-in-out;
  height: calc(100vh - 112px);
  
  .children__wrapper {
    height: 100%;
  }
}

.home__container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.main__container {
  z-index: 10;
  width: 100%;
  height: 100%;
  transition: all 750ms ease 200ms;
  transform-origin: top center;
  transform: translateY(0);
  padding-top: 10px;
}

.main__container-active {
  transform: translateY(300px);
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;

  &--header {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  @media (min-width: 1920px) {
    max-width: 1380px;
  }
}

.container .page__heading:first-child {
  margin-top: 0;
}

.container--flex {
  display: flex;
  flex-flow: row wrap;   
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.col-row {
  display: flex;
  flex-flow: row wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}

.no-results-found {
  font-style: italic;
  font-size: 18px;
}

.w-100 {
  width: 100%;
  padding: 1rem;
}

.w-50 {
  width: 50%;
  padding: 1rem;
}

.w-25 {
  width: 25%;
  padding: 1rem;
}

.w-33 {
  width: 33.33%;
  padding: 1rem;
}

.btn {
  outline: none;
  border: none;
  padding: 8px 12px;
  background: #3f90de;
  color: white;
  cursor: pointer;
  font-family: Helvetica;
}

// LOADING BOX
.loading-box {
  width: 100%;
  height: 30vh;
  background: #eee;
  position: relative;

  &::after {
    content: '';
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, transparent), color-stop(50%,rgba(255,255,255,0.75)), color-stop(100%, transparent));
    background-repeat: no-repeat;
    animation: loading-shell 2.5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

// SLIDER

.slider__controllers {
  z-index: 5;
  position: absolute;
  width: 100%;
  top: 50%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  
  &__next, &__previous {
    /* font-size: 24px; */
    display: block;
    width: 20px;
    height: 30px;
    border: 16px solid transparent;
    user-select: none;
    cursor: pointer;
  }

  &__previous {
    border-left-color: black;
  }

  &__next {
    border-right-color: black;
  }
}

.slider__wrap {
  width: 100%;
  height: 100%;
  min-height: 60vh;
  position: relative;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  min-height: 60vh;
  position: absolute;
  transition: opacity .4s ease;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  
  &-active {
    opacity: 1;
  }
}

.slide__img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slider__dots {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 3%;
  display: none;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 6px;
  user-select: none;
  cursor: pointer;
  background: black;

  &-active {
    width: 8px;
    height: 8px;
    background: #3f90de;
  }
}

@media (max-width: 768px) {

  .w-25, .w-33, .w-50 {
    width: 100% !important;
  }
}

input {
  padding: .8rem 1rem;
}

.btn--black {
  background: #222;
  color: white;
  text-transform: uppercase;
  border-radius: 1.4rem;
  padding: .75rem 1rem;
}

.btn--coupon {
  width: 100%;
  height: 100%;
  display: block;
  margin: 1rem 0;
  text-align: center;
}

.thumbnail {
  display: block;
  width: 100%;
  height: 0;
  position: relative;
  overflow: hidden;

  &--3by4 {
    padding-top: 75%;
  }

  &--9by16 {
    padding-top: 56.25%;
  }

  &__wrapper {
    max-height: 75vh;
    overflow: hidden;
  }

  img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
  }
}

.page__heading {
  font-size: 50px;
  font-family: Lato;
  margin-bottom: 2rem;
  line-height: 68px;
  text-align: left;
  
  @media (max-width: 768px) {
    font-size: 34px;
    line-height: 50px;

    br {
      display: none;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: Lato;
}

h1 {
  font-size: 50px;

  @media (max-width: 768px) {
    font-size: 34px;
    line-height: 50px;
  }
}

h2 {
  font-size: 40px;
  
  @media (max-width: 768px) {
    font-size: 28px;
    line-height: 40px;
  }
}

h3 {
  font-size: 34px;
  
  @media (max-width: 768px) {
    font-size: 22px;
    line-height: 30px;
  }
}

strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

.item__heading {
  font-size: 20px;
  text-decoration: none;
  font-family: Lato;
  margin: 1rem 0;
}

.text-center {
  text-align: center;
}

.price--heading {
  font-size: 26px;
}

.cover--link {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  z-index: 100;
}

.description {
  margin: 1rem 0;
}

.frame__wrap {
  height: 75vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;

  .frame-container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    animation-duration: .15s;
    animation-iteration-count: infinite;

    div, img {
      height: 100%;
      width: auto
    }
  }

  .negative {
    mix-blend-mode: hard-light;
    filter: invert(1) grayscale(50%);
  }
  
  @media (max-width: 992px) {
    
    .frame-container {
      width: auto;

      div {
        height: 100% !important;
        width: auto !important;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}


@media all and (max-width: 1000px) {
  
  .emails__wrapper.w-33 {
    display: none;
  }

  .navigation__link .link-wrap {
    text-align: center;
  }
}

@media all and (max-width: 880px) {

  .w-33 .page__nav__list .info-label {
    font-size: 12px;
    margin: 5px 0;
    font-weight: bold;
    color: #b7b7b7;
  }

  .info-label a {
    font-weight: normal;
    color: #222;
    font-size: 14px;
  }
}

@media all and (max-width: 830px) {

  .emails, .contact-info {
    display: none;
  }

  .page__link {
    display: flex;
    justify-content: center;
  }

  .link-wrap, .page-name {
    transform: none !important;
  }

  .link-title {
    display: none !important;
  }

  .welcome__title {
    font-size: 32px;
  }

  .welcome__header {
    margin-top: 12vh;
  }

  .home__container {
    justify-content: space-between;
  }

  .main__container {
    height: 100%;
  }
}

@media all and (max-width: 540px) {

  .frame__wrap {
    height: 75vh;
    
    // .frame-container {
    //   width: 100%;
  
    //   div {
    //     height: 100% !important;
    //     width: auto !important;
    //   }
  
    //   img {
    //     width: 80%;
    //     height: 80%;
    //     object-fit: cover;
    //   }
    // }
  }


  .welcome__header {
    margin-top: 0;
  }
}

@keyframes glitch {

  0% {
    transform: translate(0, 0);
    filter: hue-rotate(0deg);
  }

  10% {
    transform: translate(4px, 0);
  }

  20% {
    transform: translate(-4px, 0);
  }

  30% {
    transform: translate(12px, 10px);
  }

  40% {
    transform: translate(-16px, 0);
  }

  50% {
    transform: translate(-24px, 0);
  }

  60% {
    transform: translate(-52px, 0);
  }

  70% {
    transform: translate(0, 42px);
  }

  80% {
    transform: translate(-20px, -10px);
  }

  90% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 0);
    filter: hue-rotate(360deg);
  }
}

@keyframes loading-shell {
  0%{background-position: -100vw 0}
  100%{background-position: 100vw 0}
}